---
import Layout from "../../layouts/Layout.astro";
const allPosts = await Astro.glob('../posts/*.md');
const tags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];
const pageTitle = "Теги";
---

<Layout title={pageTitle}>
  <ul class="tags">
    {tags.map(tag => <li class="tag"><a href={`/tags/${tag}`}>{tag}</a></li>)}
  </ul>
</Layout>

<style>
  a {
    color: #00539F;
  }

  .tags {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .tag {
    list-style: none;
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: .5em;
    padding: .5em 1em;
    font-size: 1.15em;
    background-color: #F8FCFD;
  }
</style>