---
import Greeting from '../components/Greeting';
import Layout from '../layouts/Layout.astro';

const pageTitle = "Главная";
---

<Layout title={pageTitle}>
	<main>
		<h1>{pageTitle}</h1>
		<Greeting client:load messages={["Привет", "Здравствуйте", "Приветствую", "Эй там"]} />
	</main>
</Layout>

<style>
	
</style>
