---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
		
		<script>
			import "../scripts/menu.js";
		</script>
	</body>
</html>
<style is:global>
	body {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 16px;
  	color: #2c2c2c;
	}
	h1 {
    font-size: 3.5rem;
  }
	html.dark,html.dark body {
  background-color: #2c2c2c;
  color: #fff;
}

.dark .nav-links a {
  color: #fff;
}
</style>
